annotated-types
anyio
click
colorama
cramjam
fastapi
fastparquet
fsspec
h11
idna
numpy
packaging
pandas
pyarrow
pydantic
pydantic_core
python-dateutil
pytz
six
sniffio
starlette
typing_extensions
tzdata
uvicorn